
.floating-text {
    animation: float 3s ease-in-out infinite;
  }
  
  
    @keyframes float {
      0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #67d479, 0 0 20px #fff, 0 0 40px #fff;
        
      }
      50% {
        text-shadow: 0 0 5px #8a8a8a, 0 0 10px #f08383, 0 0 20px #8a8a8a, 0 0 40px #c5c5c5;
        
      }
    }